body {
    text-align: center;
}
.twoparts {
    display: grid;
    margin-left: 36%;
    max-width: 30%;
    min-width: 25%;
    gap: 30px;
    padding: 10px;
    grid-template-columns: auto auto;
}
.oneitem {
    display: grid;
    margin-left: 36%;
    max-width: 30%;
    min-width: 25%;
    gap: 30px;
    padding: 10px;
}

input {
    line-height: 2.4rem;
    border-radius: 4px;
    border: 2px solid rgb(205, 204, 204);
    padding: 3px 10px;
    
}

button {
    line-height: 2.4rem;
    border-radius: 6px;
    color: white;
    border: none;
}

.blueButton {
    background-color: rgb(83,139,197);

}

.greenButton {
    background-color: rgb(116,181,102);
}

p {
    text-align: start;
}

span {
    display: inline-block;
    background-color:rgb(83,139,197);
    color:white;
    max-width: 4rem;
    min-width: 4rem;
    font-size: 0.96rem;
    text-align: center;
    border:#448cf7 solid 4px;
    border-radius: 4px;
}

a {
    color:#0d6efd;
    text-decoration: none;
}

.checkboxpart {
    display: flex;
    align-items: center;
}

#agreebox{
    margin-left: 5px;
}